/* Donor - singup form */
.signup-row {
  width: 80%;
}
.signup-frm {
  margin: auto;
  width: 100%;
  padding: 20px;
}
.signup-colA {
  background-image: url("../assets/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* ---------------------------------------------- */

/* login */
.login-row {
  width: 80%;
}
.login-frm {
  margin: auto;
  width: 100%;
  padding: 20px;
}
.login-colA {
  background-image: url("../assets/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* ---------------------------------------------- */
