.donation-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.donated-dry-food {
  color: grey;
  font-size: 22px;
}

.request-btn {
  border: none;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}
